@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

.logo{
    font-family: "Great Vibes", cursive;
    font-weight: 800;
    font-size: 35px;
    font-style: normal;
}